*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 999;
}

header.rolagem {
    background-color: #d3d3d3;
    padding: 10px 4%;
}

header.rolagem a, header.rolagem i{
    color: rgb(0, 0, 0);
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
}

header li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #00BF63;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.5s ease-in-out;
}

header li a:hover::after{
    width: 100%;
}

header a i{
    color: #ffffff;
}

.logo-image {
    background-color: none;
    text-decoration-style: none;
    text-decoration: none;
    text-align: center;
}

.logo-image img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.logo-image img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.btn-livro button{
    width: 10vw;
    height: 10vh;
    border: 0;
    background-color: cornflowerblue;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

.btn-livro button:hover {
    background-color: aliceblue;
    color: cornflowerblue;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: url(img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.banner h1 {
    font-size: 5em;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 0.8;
    z-index: 998;
}

.banner h1 span {
    font-size: 3rem;
    color: #00BF63;
    z-index: 997;
}

.bannerprojetos {
    height: 100vh;
    width: 100%;
    background-image: url(img/projetos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.bannerprojetos h1{
    font-size: 5em;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    z-index: 998;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 0.5;
}

/*FOOTER*/
footer {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
}

.footerContainer {
    width: 100%;
    padding: 30px 30px 20px;
}

.footerIcons {
    display: flex;
    justify-content: center;
}

.footerIcons a {
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    border-radius: 50%;
}

.footerIcons a i {
    font-size: 2em;
    color: black;
    opacity: 1;
}

/*HOVER EFEITO ICONES MÍDIAS SOCIAIS*/

.footerIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}
.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    color: white;
    opacity:  2;
}

.footer {
    background-color: #a9a9a9;
    padding: 1px;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
}

.footer p{
    color: black;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.projetos {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #242424;
}

.projetos-container {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.projeto-card {
    display: flex;
    align-items: center;
    justify-content: left;
}

img {
    display: block;
}

.projeto-img img{
    margin-top: -100px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 4px #020202);
}

.capa-img img{
    object-fit: cover;
    margin-right: 50px;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px #020202);
}

.projetos .projeto-card .projeto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-left: 2.6rem;
}

.projetos .projeto-card .projeto-info .projeto-img {
    width: 100%;
    max-width: 31rem;
    height: 18rem;
    padding: 1px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #00BF63;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.projetos .projeto-card .projeto-info .info {
    text-align: left;
    margin-top: 1rem;
}

.tecnologias {
    margin-top: -25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.devicon-java-plain-wordmark {
    font-size: 4rem;
    color: #00BF63;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

p {
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-width: 60%;
    color: white;
}

.botões {
    padding-top: 15px;
}

.botões a{
    background-color: #00BF63;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 15px;
}

.botões a:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: black;
}

hr {
    width: 100%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    margin-top: 50px;
    padding: 1.5px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 2em;
} 

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 1px 0;
    padding-top: 50px;
    height: 5vh;
}

.navigation li {
    display: inline-block;
    margin: 0 10px;
}

.navigation li a {
    background-color: #00BF63;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 15px;
}

.navigation li a::after {
    background-color: gray;
}

.navigation li a:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
    transform: scale();
}
